@model IEnumerable<OrderHeader>
@using Spice.Utility
@{
	ViewData["Title"] = "Orders History";
}

<div class="mt-5 border background-white">
	<div class="mb-4">
		<h3 class="text-info">Orders History</h3>
	</div>
	@if(Model.Any())
	{
		<table class="table table-responsive-lg table-striped border mb-0">
			<tr class="table-secondary">
				<th>ID</th>
				<th>Pickup Name</th>
				<th>Pickup Time</th>
				<th>Order Total</th>
				<th></th>
			</tr>
			@foreach(var order in Model)
			{
				<tr>
					<td>
						@order.Id
					</td>
					<td>
						@order.PickupName
					</td>
					<td>
						@order.PickupTime.ToShortDateString()
						@order.PickupTime.ToShortTimeString()
					</td>
					<td>
						$ @order.OrderTotal
					</td>
					<td>
						<div class="float-right">
							<button class="btn btn-success width-125px anchorDetails" data-id="@order.Id" data-toggle="modal" data-target="#myModal">
								<i class="far fa-list-alt"></i> Details
							</button>
							@if(order.OrderStatus == StaticDetails.StatusCancelled)
							{
								<button type="button" class="btn btn-danger width-125px" disabled>
									<i class="fas fa-times"></i> Cancelled
								</button>
							}
							else
							{
								<button class="btn btn-info width-125px" data-toggle="modal" data-target="@("#statusModal" + order.Id)">
									<i class="far fa-clock"></i> Status
								</button>

								<div class="modal fade" id="@("statusModal" + order.Id)">
									<div class="modal-dialog modal-dialog-centered modal-xl">
										<div class="modal-content">
											<div class="modal-header bg-info text-light justify-content-center">
												<h5 class="modal-title">Order Status</h5>
											</div>
											<div class="modal-body">
												@switch(order.OrderStatus)
												{
													case StaticDetails.StatusSubmitted:
														<img src="~/img/OrderPlaced.png" class="w-100" />
														break;
													case StaticDetails.StatusInProgress:
														<img src="~/img/InKitchen.png" class="w-100" />
														break;
													case StaticDetails.StatusReady:
														<img src="~/img/ReadyForPickup.png" class="w-100" />
														break;
													case StaticDetails.StatusCompleted:
														<img src="~/img/completed.png" class="w-100" />
														break;
													default:
														break;
												}
											</div>
											<div class="modal-footer">
												<button class="btn btn-secondary px-5" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</td>
				</tr>
			}
		</table>

		<div class="modal fade" id="myModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header bg-success text-light justify-content-center">
						<h5 class="modal-title">Order Details</h5>
					</div>
					<div class="modal-body" id="myModalContent">

					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary px-5" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<h4 class="text-center">No Orders Exist</h4>
	}
</div>

@section Scripts{
	<script>
		$(function () {
			$('.anchorDetails').click(function () {
				$.ajax({
					type: "GET",
					url: '/Customer/Order/OrderDetails',
					data: { "Id": $(this).attr('data-id') },
					success: function (data) {
						$('#myModalContent').html(data);
						$('#myModal').modal("show");
					},
					error: function () {
						alert("Content loading failed");
					}
				});
			});
		});
	</script>
}